<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <%- include('./moduls/style.ejs') %>
    <body>
        <h1 style="color: #494d5f">
            <a href="/" style="margin-left: 20px; color: #494d5f">Home</a>
        </h1>
        <h1 style="color: #494d5f">
            <a href="/genre" style="margin-left: 20px; color: #494d5f"
                >ALL genres</a
            >
        </h1>
        <% if (genre.length) { %> <% genre.forEach(({ genre, name, description
        })=>{ %>
        <h1 style="margin-left: 20px; color: #494d5f">Name: <%= name %></h1>
        <p style="margin-left: 20px; color: #494d5f">
            Description: <%= description %>
        </p>
        <% }) %> <% } %>
    </body>
</html>
