<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Edit</title>
    </head>
    <%- include('./moduls/style.ejs') %>
    <body>
        <h1 style="color: #494d5f">
            <a href="/" style="margin-left: 20px; color: #494d5f">Home</a>
        </h1>
        <h1 style="color: #494d5f">
            <a href="/films" style="margin-left: 20px; color: #494d5f"
                >ALL films</a
            >
        </h1>
        <form method="post" action="/edit/<%= post.id %>?_method=PUT">
            <h1 style="margin-left: 20px; color: #494d5f">
                Genre:
                <input type="text" name="genre" value="<%= post.genre %>" />
            </h1>
            <h1 style="margin-left: 20px; color: #494d5f">
                The name of the movie:
                <input type="text" name="name" value="<%= post.name %>" />
            </h1>
            <h1 style="margin-left: 20px; color: #494d5f">
                Short description:
                <input
                    type="text"
                    name="description"
                    value="<%= post.description %>"
                />
            </h1>
            <input
                type="submit"
                class="custom-btn btn-4"
                value="Add a new movie"
            />
        </form>
    </body>
</html>
