<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ALL movies</title>
    </head>
    <%- include('./moduls/style.ejs') %>

    <body>
        <h1 style="color: #494d5f">
            <a href="/" style="margin-left: 20px; color: #494d5f">Home</a>
            <a href="/films" style="margin-left: 20px; color: #494d5f"
                >ALL fims</a
            >
            <form action="/films/search" method="POST">
                <p style="float: right; margin-right: 20px; color: #494d5f">
                    <input
                        type="text"
                        name="name"
                        value="<%= reqNameOriginal %>"
                    />
                    <input
                        type="submit"
                        style="width: 40px; height: 35px"
                        class="custom-btn btn-4"
                        value="?"
                    />
                </p>
            </form>
        </h1>
        <% if (searchFilms.length) { %> <% searchFilms.forEach(({ id, genre,
        name, description })=>{ %>
        <h1 style="margin-left: 20px; color: #494d5f">
            Name: <%= name %>, Genre: <%= genre %>
        </h1>
        <p style="margin-left: 20px; color: #494d5f">
            Description: <%= description %>
        </p>
        <% })}else{ %>
        <h1 style="margin-left: 20px; color: #494d5f">
            Nothing was found for your request
        </h1>
        <% } %>
    </body>
</html>
